// Color Pallete
$white:           #fff;
$white-2:         #F8F9FB;
$white-3:         #F9FDFF;
$off-white:       rgb(240, 240, 240);
$black:           #000;
$grey:            #b9b9b9;
$grey-2:          rgb(126, 126, 126);
$grey-3:          #A4A6B6;
$brown:           #424242;
$shadow:          rgba(0, 0, 0, 0.16);
$purple-lt:       #41456475;
$blue:            #082a5b;
$blue-2:          #1270A3;
$aqua:            #1fbee6;
$green:           #1fb940;
$red:             red;
$red-2:           #EB5E5F;

// Color Assignments 
